*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
   
}

:root{
     font-size: 0.625rem;
}

::-webkit-scrollbar {
    display: none;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: black;
}

menu {
    background-color: #CAF0F8;
    height: 80px;
    max-width: 100vw;
    display: flex;
    flex-direction: row;    
    align-items: center;
    justify-content: space-between;
    font-size: 1.7rem;
}

#menu-logo{
    width: 15%;
}

#logodc{
    height: 50px;
}

#list-menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 85%;
    margin-right: 50px;
    text-transform: uppercase;
    font-weight: bold;
}

#list-menu > div:hover{
    text-decoration: underline;
}

#list-menu > div {
    margin: 0 30px;
}

/*------------*/

#banner{
    background-image: url("../img/back1.jpg");
    background-size: cover;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    padding: 30px;
}
h1{
    font-weight: bolder;
    font-size: 6rem;
    text-transform: uppercase;

}

h2{
    font-size: 3rem;
}

/*---------------------------BOARD---------------------------------------*/

#board{
    display: flex;
    flex-direction: row;
    height: 1000px;
}

#profil{
    width: 13%;
    min-width: 250px;
    background-color: #CAF0F8;
}

#general{
    width: 87%;

}

/*------------------------------------profil-general-----------------------------------*/

#profil{
    display: flex;
    flex-direction: column;
    border-right: solid 1px black;
}

/*-------profil----------*/
#profil-bloc{
    display: flex;
    flex-direction: row;
    padding: 10px;
    font-size: 1.4rem;
    border-bottom: solid 1px black;
}

#profil-picture{
    margin-right: 20px;
  
}

/*----------cour--------*/

#virual-room{
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px black;
    padding-bottom: 10px;
}

#titre-room{
    display: flex;
    justify-content: center;
    font-size: 1.7rem;
    margin-top: 10px;

}

#bloc-matiere{
    margin-top: 10px;
}

#bloc-matiere > div{
    margin: 8px 0;
    font-size: 1.4rem;
    padding-left: 20px;
}

/*-------Service--------*/

#service{
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px black;
    padding-bottom: 10px;
}

#titre-service{
    display: flex;
    justify-content: center;
    font-size: 1.7rem;
    margin-top: 10px;

}

#bloc-service{
    margin-top: 10px;
}

#bloc-service > div{
    margin: 8px 0;
    font-size: 1.4rem;
    padding-left: 20px;
}

/*----------------*/
#general{
    padding: 20px;
}

#sec-pla{
    background-color: #468faf;
    font-size: 1.4rem;
    padding: 5px;
    width: 50%;
    text-transform: uppercase;
    border-radius: 3px;
}

#box-pla{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.abs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.abs > div{
    width: 14%;
    border: 1px solid black;
    text-align: center;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
}

.color > div:hover{
    background-color: #CAF0F8;
 }
 

.abs > div:hover{
   background-color: #39cdeb;
}

#color > div{
    font-weight: bold;
    background-color: #CAF0F8;
}
.bg{
    background-color: rgb(189, 223, 255);
}

@media (max-width: 1024px) { 
    #absence {
        border-right: 0px solid black;
    }
    #list-menu{
        font-size: 1.2rem;
        padding: 0 10px;
        margin: 0;
    }

    #bloc-doc{
       overflow-x: scroll;
    }

    #list-menu > div {
        margin: 0 10px;
    }

    #menu-logo{
        display: none;
    }

    menu{
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .abs > div{
        font-size: 1.2rem;
    }



  
 }

 @media (max-width: 767px) { 
    #profil{
        display: none;
    }

    #general{
        width: 100%;
    }


    #color {
        background-color: #e2fdff;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .abs > div{
        font-size: 0.7rem;
    }

    #color{
        background-color: white;
    }


 }

 @media (max-width: 425px) { 

    #list-menu{
        font-size: 0.8rem;
    }

    #board{
        display: flex;
        flex-direction: column;
        height: 80vh;
    }

    #profil{
        width: 100%;
        min-width: 250px;
        background-color: #CAF0F8;
    }
    
    #general{
        width: 100%;
        margin: 0;
    
    }


    #list-menu{
        flex-direction: column;
        align-items: center;
        font-size: 1.3rem;
        
    }

    menu{
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #list-menu > div{
        margin: 5px 0;

    }

    #section-2 {
        height: 15%;
    }


    
   
 }