*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
   
}

:root{
     font-size: 0.625rem;
}

menu {
    background-color: #B0F2F5;
    height: 100px;
    width: 100vw;
    display: flex;
    flex-direction: row;    
    align-items: center;
    justify-content: space-between;
    font-size: 1.7rem;
}

#menu-logo{
    width: 15%;
}

#logodc{
    height: 50px;
}

#list-menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 85%;
    margin-right: 50px;
}

#list-menu > div:hover{
    text-decoration: underline;
}

#list-menu > div {
    margin: 0 20px;
}

