a:link, a:visited,  a:hover, a:active {
    text-decoration: none;
    color: black;
  }
  

*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
   
}

:root{
     font-size: 0.625rem;
}

::-webkit-scrollbar {
    display: none;
}

menu {
    background-color: #CAF0F8;
    height: 80px;
    max-width: 100vw;
    display: flex;
    flex-direction: row;    
    align-items: center;
    justify-content: space-between;
    font-size: 1.6rem;
}

#menu-logo{
    width: 15%;
}

#logodc{
    height: 50px;
}

#list-menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 85%;
    margin-right: 50px;
    text-transform: uppercase;
    font-weight: bold;
}

#list-menu > div:hover{
    text-decoration: underline;
}

#list-menu > div {
    margin: 0 30px;
}

/*------------*/

#banner{
    background-image: url("../img/back1.jpg");
    background-size: cover;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    padding: 30px;
}
h1{
    font-weight: bolder;
    font-size: 6rem;
    text-transform: uppercase;

}

h2{
    font-size: 3rem;
}

/*---------------------------BOARD---------------------------------------*/

#board{
    display: flex;
    flex-direction: row;
    height: 80vh;
}

#profil{
    width: 13%;
    min-width: 250px;
    background-color: #CAF0F8;
}

#general{
    width: 87%;

}

/*------------------------------------profil-general-----------------------------------*/

#profil{
    display: flex;
    flex-direction: column;
    border-right: solid 1px black;
}

/*-------profil----------*/
#profil-bloc{
    display: flex;
    flex-direction: row;
    padding: 10px;
    font-size: 1.4rem;
    border-bottom: solid 1px black;
}

#profil-picture{
    margin-right: 20px;
  
}

/*----------cour--------*/

#virual-room{
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px black;
    padding-bottom: 10px;
}

#titre-room{
    display: flex;
    justify-content: center;
    font-size: 1.7rem;
    margin-top: 10px;

}

#bloc-matiere{
    margin-top: 10px;
}

#bloc-matiere > div{
    margin: 8px 0;
    font-size: 1.4rem;
    padding-left: 20px;
}

/*-------Service--------*/

#service{
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px black;
    padding-bottom: 10px;
}

#titre-service{
    display: flex;
    justify-content: center;
    font-size: 1.7rem;
    margin-top: 10px;

}

#bloc-service{
    margin-top: 10px;
}

#bloc-service > div{
    margin: 8px 0;
    font-size: 1.4rem;
    padding-left: 20px;
}

#general{
    margin: 30px;
    width: 100%;
 
    
}



#mail1msg, #mail2msg, #mail3msg, #mail4msg, #mail5msg, #mail6msg, #mail7msg, #mail8msg, #mail9msg, #mail10msg{

    width: 100%;
    display: none;
    border: black 1px solid;
    font-size: 1.3rem;
    padding: 10px;
    background-color: #e2fdff;
}

#mail1, #mail2, #mail3, #mail4, #mail5, #mail6, #mail7, #mail8, #mail9, #mail10{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: black 1px solid;
    width: 100%;
    font-size: 1.5rem;
    background-color: #CAF0F8;
 
}

#mail1:hover, #mail2:hover, #mail3:hover, #mail4:hover, #mail5:hover, #mail6:hover, #mail7:hover, #mail8:hover, #mail9:hover, #mail10:hover{
    background-color: #2c7da0;
}
 


#mail1 > div, #mail2 > div, #mail3 > div, #mail4 > div, #mail5 > div, #mail6 > div, #mail7 > div, #mail8 > div, #mail9 > div, #mail10 > div{
    padding: 5px;
}

.object{
    width: 20%;
    text-align: left;
    margin: 0 15px;
     border-right: 1px solid black;
    overflow: hidden;
}

.mail-texte{
    width: 70%;
    
    text-align: center;
    overflow: hidden;
    height: 20px;
}

.date{
    width: 10%;
    text-align: end;
    margin: 0 15px;
    border-left: 1px solid black;
    overflow: hidden;
}

/*-----------media----------------*/

@media (max-width: 1024px) { 
    #list-menu{
        font-size: 1.2rem;
        padding: 0 10px;
        margin: 0;
    }

    #list-menu > div {
        margin: 0 10px;
    }

    .object{
        width: 10%;
      
    }

    #mail1, #mail2, #mail3, #mail4, #mail5, #mail6, #mail7, #mail8, #mail9, #mail10{
        font-size: 1rem;
       }
    #menu-logo{
        display: none;
    }

    menu{
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

  
 }

 @media (max-width: 425px) { 
    #list-menu{
        font-size: 0.8rem;
    }

    #board{
        display: flex;
        flex-direction: column;
        height: 80vh;
    }

    #profil{
        width: 100%;
        min-width: 250px;
        background-color: #CAF0F8;
    }
    
    #general{
        width: 100%;
        margin: 0;
    
    }

    .object{

        margin: 0;

    }
    
    .date{
 
        margin: 0;

    }
    #mail1 > div, #mail2 > div, #mail3 > div, #mail4 > div, #mail5 > div, #mail6 > div, #mail7 > div, #mail8 > div, #mail9 > div, #mail10 > div{
        padding: 0px;
    }

    #list-menu{
        flex-direction: column;
        align-items: center;
        font-size: 1.3rem;
        
    }

    menu{
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #list-menu > div{
        margin: 5px 0;

    }
    
   
 }